:root {
  --bg: #1d1d1d;
  --bg2: #272727;
  --light: #383838;
  --dark: #121212;
  --text: #ff6d6d;
  --hover: #f83b3b;
  --border: var(--bg2);
  --grayed: #505050;
  --watching: #efff73;
  --completed: #4aff9e;
  --onhold: #3d3d3d;
  --dropped: #fa5a5a;
  --planned: #5cfff7;

  --rounding: 15px;
}

body {
  font-family: “Andale Mono”, AndaleMono, monospace;
  font-size: 120%;
  background-color: var(--bg) !important;
  background-image: none !important;
}

a,
.list-table .list-table-data a.edit-disabled {
  color: var(--text);
}

#cover-image,
#gdpr-modal-bottom,
#search-button>i {
  display: none;
}


/* Scrollbar */
::-webkit-scrollbar {
  height: 10px;
  width: 10px;
  background-color: var(--bg);
}

::-webkit-scrollbar-thumb {
  background: var(--dark);
  border-radius: 6px;
}


/* Header, footer */
.header>*,
.header .header-title,
#footer-block #recaptcha-terms,
#footer-block #copyright {
  display: none;
}

.header,
#footer-block {
  background-color: var(--bg);
  height: 20px;
}


/* Container */
#list-container {
  background-color: var(--bg2);
  border: 0px solid;
  border-radius: var(--rounding);
}

#list-container table {
  margin-top: 10px;
}

#list-container tbody:nth-child(even) .list-table-data {
  background-color: var(--bg);
  border: var(--bg) 0px solid;
  border-radius: var(--rounding);
}

#list-container tbody:nth-child(even) .list-table-data .data.score {
  border: 0px solid;
  border-top-right-radius: var(--rounding);
  border-bottom-right-radius: var(--rounding);
}

#list-container tbody:nth-child(2) .list-table-data .data.number {
  border: 0px solid;
  border-top-left-radius: var(--rounding);
}

#list-container tbody:last-child .list-table-data .data.number {
  border: 0px solid;
  border-bottom-left-radius: var(--rounding);
}


/* Table */
/* Header */
.list-block tbody:nth-child(1),

/* Column - Type */
.list-table .list-table-data .data.type,
.list-block .header-title.type,

/* Column - Tags */
.list-table .list-table-data .data.tags,
.list-block .header-title.tags,

/* Column - Progress */
.list-table .list-table-data .data.progress,
.list-block .header-title.progress {
  display: none;
}


/* Table (rows) */
.list-table,
.list-table-data {
  background-color: var(--bg2);
  border: 0px;
}

#list-container .list-block .list-table-data>* {
  border: 0px;
}

.list-table-data .data a:hover {
  color: var(--hover) !important;
  text-decoration: none;
}

/* Status -> Number -> Image -> Name -> Add-edit-more -> Rating */
/* Status */
.list-table .list-table-data .data.status.watching {
  background-color: var(--watching);
}

.list-table .list-table-data .data.status.completed {
  background-color: var(--completed);
}

.list-table .list-table-data .data.status.onhold {
  background-color: var(--onhold);
}

.list-table .list-table-data .data.status.dropped {
  background-color: var(--dropped);
}

.list-table .list-table-data .data.status.plantowatch {
  background-color: var(--planned);
}

.list-block tbody:nth-child(2) .data.status {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px;
}

.list-block tbody:last-child .data.status {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px;
}

.list-table .list-table-data .data.status {
  width: 3%;
}

/* Table -> Number */
.list-table .list-table-data .data.number {
  color: var(--text) !important;
  width: 3%;
  padding-left: 15px;
  padding-right: 15px;
}

/* Table -> Image */
.list-table .list-table-data .data.image .image {
  border: var(--border) 1px solid;
}

/* Table -> Name */
.list-table-data .data.title.clearfix .icon-watch2 {
  display: none;
}

.list-table-data .data.title.clearfix .content-status {
  color: var(--grayed);
}

/* Table -> Add-edit-more */
.list-table-data .data.title.clearfix .add-edit-more {
  font-size: 0px;
}

.list-table-data .data.title.clearfix .add-edit-more .edit,
.list-table-data .data.title.clearfix .add-edit-more .add {
  font-size: 15px;
  margin: 5px;
}

/* Rating */
.score-label.score-na {
  display: none;
}

.data.score>a {
  padding-right: 10px;
}

.data.score>a>span {
  border: 1px;
  background-color: var(--light);
  border-radius: var(--rounding);
  padding: 10px;
}


/* Status filter menu */
#status-menu,
#status-menu div {
  background-color: var(--bg2);
  color: var(--text);
  border: var(--border) 1px solid;
}

#status-menu {
  border: var(--border) 0px solid;
  border-radius: var(--rounding);
}

#status-menu>div {
  width: 95%;
  right: 10%;
  border-spacing: 0px 0;
}

#status-menu>div>a {
  color: var(--text);
  font-size: 100%;
  padding: 15px 18px 15px;
  font: inherit;
}

#status-menu>div>*:after {
  background-color: var(--text);
}


/* Stats - Filters */
#show-stats-button,
#advanced-options-button {
  color: var(--text);
}

#show-stats-button:hover,
#advanced-options-button:hover {
  color: var(--hover);
}

#list-container .list-block .list-status-title {
  background-color: var(--bg2);
}

#list-container .list-block .list-status-title .text {
  display: none;
}

#list-container .list-block .list-status-title .stats {
  right: 40%;
  font-size: 16px;
}

#list-container .list-block .list-stats {
  color: var(--text);
  border: var(--border) 1px solid;
  padding-bottom: 0px;
  border-radius: var(--rounding);
  background-color: var(--bg);
}


/* Filter popup */
#advanced-options {
  border: 0px;
  border-radius: var(--rounding);
  font: inherit;
  background-color: var(--bg);
}

#advanced-options>* {
  font: inherit;
  color: var(--text);
}

#advanced-options .advanced-options-button .btn-apply,
#advanced-options .advanced-options-button .btn-clear {
  background-color: var(--bg2);
  color: inherit;
}

#advanced-options .widget-header.widget-header {
  font: inherit;
  font-size: 80%;
}

#advanced-options .sort>h2,
#advanced-options>div.filter>h2 {
  border-bottom: var(--border) 1px solid;
  font-size: 150%;
}

#advanced-options .sort .sort-widget.second,
#advanced-options .advanced-options-button {
  border: 0px;
}

#advanced-options .filter .filter-widget input,
#advanced-options .filter .filter-widget select,
#advanced-options .sort .sort-widget select,
#advanced-options .sort div.sort-widget.first label,
#advanced-options .sort div.sort-widget.first label:nth-child(4),
#advanced-options .sort div.sort-widget.second label:nth-child(4),
#advanced-options .sort div.sort-widget.second label:nth-child(6) {
  border: var(--bg2) 1px solid;
  border-radius: 5px;
  background-color: var(--bg2);
  color: var(--text);
}

#advanced-options .filter .filter-widget.airing-status,
#advanced-options .sort .sort-widget.first {
  padding-bottom: 35px;
}

#advanced-options .filter .filter-widget.producer,
#advanced-options .filter .filter-widget.aired-date,
#advanced-options .filter .filter-widget.aired-season,
#advanced-options .sort .sort-widget.second,
#advanced-options .sort .sort-widget.first span,
#advanced-options .filter span,
#advanced-options .sort span {
  display: none;
}


/* List menu float */
.list-menu-float {
  background-color: var(--bg2);
  border-top-right-radius: var(--rounding);
  border-bottom-right-radius: var(--rounding);
  border: var(--border) 0px solid;
}

.list-menu-float>div {
  border-bottom-right-radius: var(--rounding);
}

.list-menu-float .icon-menu {
  background-color: var(--bg2);
  border: 0px;
}

.list-menu-float .icon-menu svg.icon {
  fill: var(--text);
}

.list-menu-float .icon-menu:hover svg.icon {
  fill: var(--hover);
}

.list-menu-float .icon-menu:not(.profile):hover,
.list-menu-float .icon-menu.setting:hover .text {
  width: 180px;
  background-color: var(--bg2);
  border-top-right-radius: var(--rounding);
  border-bottom-right-radius: var(--rounding);
}

.list-menu-float .icon-menu.setting:hover .text {
  border-bottom-left-radius: var(--rounding);
  width: 160px;
  padding-left: 10px;
}

.list-menu-float .icon-menu.profile {
  border-top-right-radius: var(--rounding);
}

.list-menu-float .icon-menu .text {
  color: var(--text);
}

.list-menu-float .icon-menu:hover .text {
  font: inherit;
  color: var(--text);
  text-align: left;
  padding-left: 10px;
  width: 150px;
  opacity: 1;
}

.list-menu-float .icon-menu .text:hover {
  color: var(--hover);
}

.list-menu-float .icon-menu.history:hover,
.list-menu-float .icon-menu.export:hover,
.list-menu-float .icon-menu.logout:hover {
  width: 150px;
}

.list-menu-float .icon-menu.setting:hover .text .link-list-setting,
.list-menu-float .icon-menu.setting:hover .text .link-style-setting {
  background-color: var(--bg2);
  border: 0px;
  color: var(--text);
}

.list-menu-float .icon-menu.setting:hover .text .link-list-setting:hover,
.list-menu-float .icon-menu.setting:hover .text .link-style-setting:hover {
  color: var(--hover);
}
