:root {
    --bg: #1d1d1d;
    --bg2: #272727;
    --lightbg: #383838;
    --text: #ff6d6d;
    --text-hover: #ff0606;
    --thumb: #0a0a0a;
    --border: var(--thumb);

    --watching: #efff73;
    --completed: #4aff9e;
    --onhold: #3d3d3d;
    --dropped: #fa5a5a;
    --planned: #5cfff7;
    
    
}

body {
    font-family: “Andale Mono”, AndaleMono, monospace;
    font-size: 120%;
    background-color: var(--bg) !important;
}

.list-table .list-table-data .data.status.watching { background-color: var(--watching); }
.list-table .list-table-data .data.status.completed { background-color: var(--completed); }
.list-table .list-table-data .data.status.onhold { background-color: var(--onhold); }
.list-table .list-table-data .data.status.dropped { background-color: var(--dropped); }
.list-table .list-table-data .data.status.plantowatch { background-color: var(--planned); }
.list-table .list-table-data .data a { color: var(--text) !important; }
.data.number { color: var(--text); }
.list-table .list-table-data .data a:hover { color: var(--text-hover) !important; text-decoration: none; }

/* .list-menu-float, */
/* Header */
.header .header-title,
/* if cover image is enabled */
#cover-image,
/* Status menu (watching, completed, etc.) */
.status-menu-container,
.status-menu-container.fixed,
/* Stats/filter + indicator of filter */
.list-unit .list-status-title,
/* Table header */
.list-block tbody:nth-child(1),
/* Table columns: type */
.list-table .list-table-data .data.type,
.list-block .header-title.type,
/* tags */
.list-table .list-table-data .data.tags,
.list-block .header-title.tags,
/* progress */
.list-table .list-table-data .data.progress,
.list-block .header-title.progress,
/* Episode icon thing */
.list-block .list-table-data .data.title.clearfix .icon-watch2,
/* Cookies popup */
#gdpr-modal-bottom,
/* Footer shit */
#footer-block #recaptcha-terms,
#footer-block #copyright,
/* Invisible score when "-" */
.list-block .list-table-data .data.score .link .score-label.score-na {
    display: none;
}

/* Table */
.list-table .list-table-data .data.status {
    width: 3%;
}
.list-table .list-table-data .data.number {
    width: 3%;
    padding-left: 15px;
}
#list-container .list-block .list-table-data > * {
    border: 0px;
}

/* Scrollbar */
::-webkit-scrollbar {
    height: 10px;
    width: 10px;
    background-color: var(--bg);
}
::-webkit-scrollbar-track {
    background: var(--bg);
    border-radius: 6px;
}
::-webkit-scrollbar-thumb {
    background: var(--thumb);
    border-radius: 6px;
}

/* Add/edit - more */
.list-block .list-table-data .data.title.clearfix .add-edit-more .edit,
.list-block .list-table-data .data.title.clearfix .add-edit-more .add {
    font-size: 15px;
    margin: 5px;
}
.list-block .list-table-data .data.title.clearfix .add-edit-more {
    font-size: 0px;
}

/* Header, footer */
.header > * {
    display: none;
}
.header {
    height: 25px;
}
#footer-block {
    background-color: var(--bg);
    height: 15px;
}

/* Table borders + color */
.list-container,
.list-item .list-table-data {
  background-color: var(--bg2);
  border: var(--border) 1px solid;
  border-radius: 15px;
}
.list-table,
.list-block .list-table-data {
  border: 0px;
}
.list-table .list-table-data .data.image .image {
  border: var(--border) 1px solid;
}

/* Bar rounding */
.list-block tbody:nth-child(2) .list-table-data .data.status {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px;
}
.list-block tbody:last-child .list-table-data .data.status {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px;
}

/* Highlight rating */
.list-block .list-table-data .data.score > a {
  border: 1px;
  background-color: var(--lightbg);
  border-radius: 5px;
  padding: 10px;
}
