html {
    --bg: #1d1d1d;
    --text: #ff6666;
    --text-hover: red;
    --completed: #4aff9e;
    --watching: #efff73;
    --planned: #000000;
    --thumb: #0a0a0a;
}

body {
    font-family: “Andale Mono”, AndaleMono, monospace;
    font-size: 120%;
    background-color: var(--bg) !important;
}

.list-table .list-table-data .data.status.completed { background-color: var(--completed); }
.list-table .list-table-data .data.status.watching { background-color: var(--watching); }
.list-table .list-table-data .data.status.plantowatch { background-color: var(--planned); }
.list-table .list-table-data .data a { color: var(--text) !important; }
.list-table .list-table-data .data a:hover { color: var(--text-hover) !important; }

/* .list-menu-float, */
.cover-image,
.list-container .status-menu,
.status-menu-container,
.list-status-title,
.list-unit .list-status-title,
.status-menu-container.fixed,
#gdpr-modal-bottom,
.list-table .list-table-data .data.type,
.list-block .header-title.type,
.list-table .list-table-data .data.tags,
.list-block .header-title.tags,
.list-table .list-table-data .data.progress,
.list-block .header-title.progress,
.list-block tbody:nth-child(1),
.list-block .list-table-data .data.title.clearfix .icon-watch2,
.header .header-title,
#footer-block #recaptcha-terms,
#footer-block #copyright,
.list-block .list-table-data .data.score .link .score-label.score-na {
    display: none;
}

/* Table */
.list-table .list-table-data .data.status {
    width: 3%;
}
.list-table .list-table-data .data.number {
    width: 3%;
    padding-left: 15px;
}
#list-container>div.list-block>div>table>tbody>tr.list-table-data>* {
    border: 0px;
}

/* Scrollbar */
::-webkit-scrollbar {
    height: 10px;
    width: 10px;
    background-color: var(--bg);
}
::-webkit-scrollbar-track {
    background: var(--bg);
    border-radius: 6px;
}
::-webkit-scrollbar-thumb {
    background: var(--thumb);
    border-radius: 6px;
}

/* Add/edit - more */
.list-block .list-table-data .data.title.clearfix .add-edit-more .edit,
.list-block .list-table-data .data.title.clearfix .add-edit-more .add {
    font-size: 15px;
    margin: 5px;
}
.list-block .list-table-data .data.title.clearfix .add-edit-more {
    font-size: 0px;
}

/* Header, footer */
.header > * {
    display: none;
}
.header {
    height: 25px;
}
#footer-block {
    background-color: var(--bg);
    height: 25px;
}
